<html>
<title>results</title>

<body>
    <h1>
        You <%= gameResult %>!<br>
    </h1>
    <h2>
        You Picked: <%= userChoice %> <br>
        Server Picked: <%= computerChoice %><br>
        <span style="color: green">Player Wins: <%= playerWinCount %></span><br>
        <span style="color: red">Server Wins: <%= serverWinCount %></span> <br>
        <span style="color: blue">Total Games: <%= totalGameCount %></span> <br>
        <a href="/"> Play Again!</a>
    </h2>
</body>

</html>